@page
@model WebApplication1.Pages.cityModel
@{
    ViewData["Title"] = "city";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



    <div class="text-center">
        <h1>city</h1>
        
        <p>HELLO CITIES</p>
    </div>
